* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 30vw;
    border: 1px solid black;
}
.form {
  width: 350px;
  /* border: 1px solid; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}
.h1{
    font-size: 25px;
    margin-bottom: 15px;
}
.input-size{
    width: 30%;
    display: inline;
}